.header__menu {
  display: flex;
  flex-direction: column;
  gap: var(--de-gap-l);
  transition: max-height 0.2s ease-in-out;
}

header > .header__menu-toggle {
  display: flex;
  max-height: 280px;
  gap: var(--de-gap-l);
}

.header__button {
  width: fit-content;
  font-family: var(--de-font-family-body);
  font-size: var(--de-font-size-m);
  color: var(--de-accent-primary);
  background-color: transparent;
  padding: var(--de-padding-button);
  border: 2px solid var(--de-accent-primary);
  border-radius: var(--de-border-radius-m);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.header__button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.header__button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.header__button--profile {
  color: var(--de-color-text-primary);
  border: 2px solid var(--de-color-text-primary);
}

.header__button--profile-admin {
  color: var(--de-accent-yellow);
  border: 2px solid var(--de-accent-yellow);
}

@media (max-width: 768px) {
  .header__menu {
    max-height: 0px;
    overflow: hidden;
  }
}
